SECRET_KEY=em-6W1wX8bZnOR0bdzJFEFM916gswAHjDiF7IrZ23GaGUysk-RXzzGgUP-kZd7mVmbQ
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

DB_NAME=smartsave_db
DB_USER=postgres
DB_PASSWORD=1381
DB_HOST=localhost
DB_PORT=5432